body {
    background-color: aliceblue;
    white-space: nowrap;
    width: 500px;
}

button {
    border-radius: 10px;
    inline-size: max-content;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    margin: auto;
}

#stopProfile {
    background-color: red;
    color: white;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

i {
    margin-right: 3px;
    color: cadetblue;
}

label {
    inline-size: max-content;
    font-weight: bold;
}

#synchDate {
    margin-left: 3px;
}

#profileDetails {
    border-style: groove;
    margin-top: 5px;
    padding: 3px;
}
